# <center> Assignment #1.
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [5]:
women=data['sex']=='Female'
wm=data[women]
wm.head()
WomenAge=wm['age']
WomenAgeMean=WomenAge.mean()
print(WomenAgeMean)

36.85823043357163

**3. What is the proportion of German citizens (*native-country* feature)?**

In [6]:
german_count=data['native-country']=='Germany'
ger=data[german_count]
german_lenght=len(ger)
data_lenght=len(data)
propotion=german_lenght/data_lenght
print(propotion)

0.004207487485028101

**4-5. What are mean value and standard deviation of the age of those who recieve more than 50K per year (*salary* feature) and those who receive less than 50K per year? **

In [15]:
c=(data['salary']=='>50K')
Richavg=data[c] 
AgeOfRich=Richavg['age']

meanAgeOfRich=AgeOfRich.mean()
StdAgeOfRich=AgeOfRich.std()
print("mean age of rich is", meanAgeOfRich)
print("std of rich is", StdAgeOfRich)
print("************************")
a=(data['salary']=='<=50K')
PoorAvg=data[a] 
AgeOfPoor=PoorAvg['age']
meanAgeOfPoor=AgeOfPoor.mean()
StdAgeOfPoor=AgeOfPoor.std()
print("mean age of poor is", meanAgeOfPoor)
print("std of poor is", StdAgeOfPoor)

mean age of rich is 44.24984058155847
std of rich is 10.51902771985177
************************
mean age of poor is 36.78373786407767
std of poor is 14.020088490824813

**6. Is it true that people who receive more than 50k have at least high school education? (*education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [16]:
# list of education levels considered high school or above
high_edu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

# filter high-earning people
rich = data[data['salary'] == '>50K']

# check if all rich people have high school or above edu
result = rich['education'].isin(high_edu).all()

print("Do all >50K earners have at least high-school education?", result)

# also count those who don't meet the criteria
not_high_edu = rich[~rich['education'].isin(high_edu)]
print("Number of rich people without high school education:", len(not_high_edu))
not_high_edu.head()

Do all >50K earners have at least high-school education? False
Number of rich people without high school education: 3306

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
55,43,Private,237993,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K

**7. Display statistics of age for each race (*race* feature) and each gender. Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [17]:
# 1. Display age statistics for each race and gender
print(data.groupby(['race', 'sex'])['age'].describe())

# 2. Find maximum age of men from Amer-Indian-Eskimo race
amer_indian_men = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]

max_age = amer_indian_men['age'].max()
print("\nMaximum age of Amer-Indian-Eskimo men:", max_age)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Maximum age of Amer-Indian-Eskimo men: 82

**8. Among whom the proportion of those who earn a lot(>50K) is more: among married or single men (*marital-status* feature)? Consider married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [19]:
# Filter only men
men = data[data['sex'] == 'Male']

# Define married men (marital-status starts with "Married")
married_men = men[men['marital-status'].str.startswith('Married')]

# Define single (bachelor) men
single_men = men[~men['marital-status'].str.startswith('Married')]

# Proportion of >50K earners among married men
married_rich_ratio = (married_men['salary'] == '>50K').mean()

# Proportion of >50K earners among single men
single_rich_ratio = (single_men['salary'] == '>50K').mean()

print("Proportion of rich ( >50K ) among married men:", married_rich_ratio)
print("Proportion of rich ( >50K ) among single men:", single_rich_ratio)

Proportion of rich ( >50K ) among married men: 0.4405139945351156
Proportion of rich ( >50K ) among single men: 0.08449509031397745

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours and what is the percentage of those who earn a lot among them?**

In [21]:
# Maximum hours worked per week
max_hours = data['hours-per-week'].max()
print("Maximum hours per week:", max_hours)

# People who work that many hours
max_workers = data[data['hours-per-week'] == max_hours]
print("Number of people working that many hours:", len(max_workers))

# Percentage of them who earn >50K
rich_max_workers = (max_workers['salary'] == '>50K').mean() * 100
print("Percentage of people earning >50K among them:", rich_max_workers, "%")

Maximum hours per week: 99
Number of people working that many hours: 85
Percentage of people earning >50K among them: 29.411764705882355 %

**10. Count the average time of work (*hours-per-week*) those who earning a little and a lot (*salary*) for each country (*native-country*).**

In [22]:
avg_hours = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

print(avg_hours)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64